#container {
  width: 1100px; /*Le damos un tamaño al contenedor*/
  margin: 0px auto; /*Le asignamos un argen al gontenedor de la pagia web*/
  border: 1px solid #ffc300; /*Le asignamos un borde al contenedor de la pagina web*/
}
header {
  background: #042247; /*cambiamos el color del fondo de la cabecera*/
  height: 100px; /*Establecemos la altura del elemento en la pagina web*/
  width: 100%; /*Asignamos un tamaño a la cabecera de la pagina web*/
  margin: 0px; /*Le asignamos margenes a la cabecera de la pagina web*/
  text-align: center; /*Hacemos que el texto de la cabecera se encuentre centrado*/
  line-height: 100px; /*Asignamos la altura de linea*/
  color: white; /*Le damos a la letra un color blanco*/
  border-bottom: 1px solid #ffc300; /*Le damos un borde a la cabecera por la parte de abajo*/
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: #042247;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #ffc300;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background-color: #d4ac0d;
  transform: scale(1.1);
}

/*Codigo de un titulo animado*/
.title {
  font-size: 36px;
  font-weight: bold;
  animation: title-animation 1s ease-in-out infinite alternate;
}
@keyframes title-animation {
  0% {
    transform: translateY(0);
    color: #d4ac0d;
  }
  100% {
    transform: translateY(-10px);
    color: #ff0000;
  }
}

/**Parte de Contenido**/

.clearfix {
  clear: both; /*Cuando floten los elementos mantengan su sitio*/
}

img {
  border-radius: 50px;
}

aside {
  float: left;
  color: white;
  width: calc(
    20% - 20px
  ); /*Funcion calc para ajustar ya que quito los 20px de cada lado*/
  min-height: 500px; /*altura minima para el aside*/
  background: #042247;
  padding-left: 20px; /*margenes por izquierda*/
  padding-top: 10px; /*Marjenes por derecha*/
}
